### Week 7 Assignment: Movie Ratings
#### By Billy Cole

So I chose some Oscar winners and Hopefuls.  Asked a couple of friends and family members if they liked those movies and entered they ratings into a csv file

In [1]:
import pandas as pd
import pandas as np

### Import the csv:

In [30]:
movies = pd.read_csv("https://raw.githubusercontent.com/WilliamJCole/IS352_Week_7/master/movie_reviews.csv")
movies

,Reviewers,Arrival,Passengers,Hidden Figures,Lala Land,Moonlight,Zootopia
0,Francine,5.0,1.0,5.0,2,NaN,5.0
1,Bill,NaN,2.0,NaN,3,5.0,4.0
2,Alex,NaN,NaN,5.0,2,5.0,4.0
3,Meredith,5.0,2.0,5.0,5,NaN,5.0
4,A.J.,5.0,3.0,5.0,5,NaN,NaN

### Average the ratings:

In [31]:
movies = movies.set_index('Reviewers')
revavg = movies.mean(axis=1).round(decimals=2)

movieavg = movies.mean().round(decimals=2)

revavg

Reviewers
Francine     3.6
Bill         3.5
Alex         4.0
Meredith     4.4
A.J.         4.5
dtype: float64

In [32]:
movieavg

Arrival           5.0
Passengers        2.0
Hidden Figures    5.0
 Lala Land        3.4
Moonlight         5.0
Zootopia          4.5
dtype: float64

### Now we must normalize the ratings:

##### Here is a calculation that is used to calculate normalization:

In [ ]:
movies_tp = movies.t
df